body {
  /*background-color: yellow;*/
  background-image: url("https://pix-media.priceonomics-media.com/blog/1238/generic.jpg");
  background-color: #cccccc;
  color: red;
}
p {
  font-family: fantasy;
  font-size: 2em;
}
